<!DOCTYPE html>
<html>
    <head>
        <!-- import Vue before Element -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- import JavaScript -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        
        <meta charset="utf-8" />
        <title>ActsBoard</title>
        <!-- import CSS -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    </head>
    <body>        
        <header>
            <img src="images/logo.gif" alt="ActsBoard Team" />    
            <nav>      
                <ul>
                    <li>
                        <a href="logout.html",style="display:inline">登录</a>
                    </li>        
                    <li>
                        <form id="tf" method="POST" action="admin/base/logout">
                            <button type="submit" value="Send" >登出</button>    
                        </form>
                    </li>        
                    <li>
                        <a href="signup.html",style="display:inline">注册</a>
                    </li>
                    
                    <li>
                        <a href="about.html",style="display:inline">关于</a>
                    </li>
                </ul>    
            </nav>  
        </header>  
        <article>
            <h1>华南理工大学 ActsBoard team</h1>
            <div>
                <form id="tf" method="POST" action="manage/admin/login"  v-on:submit.prevent>
                    <p>
                        <label for="name">username:</label>          
                        <input type="text" id="name" name="username" placeholder="username" required="required" />        
                    </p >        
                    <p>          
                        <label for="password">password:</label>          
                        <input type="text" id="name" name="password" placeholder="password" required="required" />        
                    </p >
                    <p>          
                        <label for="verifyCode">verifyCode:</label>          
                        <input type="text" id="name" name="verifyCode" placeholder="verifyCode" required="required" />        
                    </p >
                    <button type="submit" value="Send">登录</button>    
                </form>    
            </div>  
        </article>

        <div id='app1'>
            <p>元素:</p>
            <input v-model='message' placeholder="请输入...">
            <p>消息是:{{ message }}</p>
        </div>
        <div id='app2'>
            <p>单个复选框：</p>
            <input type='checkbox' id='checkbox' v-model='checked'>
            <label for='checkbox'>{{ checked }}</label>
            <br>
            <p>多个复选框：</p>
            <input type="checkbox" id='Runoob' value="Runoob" v-model='checkedNames'>
            <label for="runoob">Runoob</label>
            <input type="checkbox" id='google' value="Google" v-model='checkedNames'>
            <label for="google">google</label>
            <input type="checkbox" id='Taobao' value="Taobao" v-model='checkedNames'>
            <label for="runoob">Taobao</label>

            <p>结果</p>
            <span>{{ checkedNames }}</p>
        </div>

        <div id='app3'>
            <select v-model='selected' name='fruit'>
                <option value="">选择一个网站</option>
                <option value='www.runoob.com'>Runoob</option>
                <option value='www.gooogle.com'>Google</option>
            </select>
            <div id='output'>
                选择的网站是：{{selected}}
            </div>
        </div>
        <script>
            var app1= new Vue({
                el:"#app1",
                data:{
                    message:"Runoob0",
                }
            });

            var app2 = new Vue({
                el:"#app2",
                data:{
                    checked:true,
                    checkedNames:[],
                }
            })

            var app3=new Vue({
                el:'#app3',
                data:{
                    selected:"",
                }
            })
        </script>
    </body>
</html>