<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>管理登录-</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div class="main">
  <form action="/tp_laoren/php/index.php/admin/base/login" method="post">
    <div><input type="text" name="username"/></div>
    <div><input type="text" name="password"/></div>
    <input type="submit"/>
  </form>
</div>

</body>
</html>